<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Hello Spring</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="stylesheet" type="text/css" href="css/theme.css"/>
    </head>
    <body>
        <h1>Hello Spring</h1>
        <p th:text="'Count: ' + ${counting.count}"></p>
        
        <form action="#" th:action="@{/add}" th:object="${counting}" method="post">
           <input type="submit" value="Add" />
        </form>
        <form action="#" th:action="@{/subtract}" th:object="${counting}" method="post">
            <input type="submit" value="Subtract" />
        </form>
    </body>
</html>